/*.abilities_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 0;
    gap: 4rem;
}

.tech-container > img {
  width: 100px;
}*/

.container_projects {
  @apply flex flex-col items-center justify-center w-[100%] md:w-[75%] md:h-screen absolute right-0 z-0 bg-[#f5f5f5] pt-4 pb-5;
}

.tech_container {
  @apply basis-full sm:basis-6/12 text-center mt-4;
}

.icon_container {
  @apply flex gap-2 justify-center mt-4;
}

.icon {
  @apply w-[50px] h-[50px] hover:animate-bounce
}
